html {
    font-size: ($u-base-px / 16px) * 100%;
    overflow-y: scroll;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: $u-min-width;
    font-family: Helvetica, Arial, sans-serif;
}

.page-wrap {
    padding: 100px 10px 10px;
}
