@mixin title() {
    margin-top: .5em;
    margin-bottom: 1em;
}

.page-title {
    @include title;
    @include fontSize(32px);
}
.small-title {
    @include title;
    @include fontSize(18px);
    font-weight: bold;
}
p {
    @include fontSize(16px);
    margin-top: .5em;
    margin-bottom: 1em;
}