.field {
    display: block;
    margin-top: 10px;
    margin-bottom: 1em;
}
.field__label {
    display: none;
}
.field__input {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: 6px 3px;
    text-align: center;
}
.field__error {
    color: $c-field-error;
    margin-top: 10px;
    @include fontSize(14px);
}